<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>HamdyM</title>
    </head>

    <body>
        <header>
            <div class="title">
                NPL Project By Hamdy for UDACITY
            </div>
        </header>

        <main>
            <section class="form-container">
                <!--FORM-->
                <form onsubmit="Client.handleSubmit(event)">
                    <input id="url" type="url" name="url" placeholder="Insert an article URL">
                    <input id="submit" type="submit" name="submit" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class="form-container">
                <!--RESULTS-->
                <h1 class="result-title"><strong>Form Results:</strong></h1>
                <div id="results">
                    <h3>Agreement:</h3>
                    <p id="agreement"></p>
                    <br>
                    <h3>Subjectivity:</34>
                    <p id="subjectivity"></p>
                    <br>
                    <h3>Confidence:</h3>
                    <p id="confidence"></p>
                    <br>
                    <h3>Irony:</h3>
                    <p id="irony"></p>
                </div>
            </section>
        </main>

        <footer>
            <p class="footer-text">Developed by Hamdy M</p>
        </footer>
        
        <!-- Service Workers --> 
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>    
    </body>
</html>
